body{
   background-color: #1b1f27;
  color: white
   
  
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
 
}
.P1{
  border: 10px solid #white;
}
.P1 {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}
h2{
  color: white
}
h1{
  color: white
}
h3{
  color: white
}
p{
  color: white
}

.java:hover div.p1t{
  opacity: 1;
}

  
.java{
  content:"";
  background-image: url('BinarySearchGame.png');
  width: 42vw;
  height: 26vw;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}
.p1t{
    position: absolute;
    /* Center on the screen (help from ChatGPT) */  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* End centering code */
    width: 42vw;
    height: 26vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #c02a48;
    padding: 10px 20px;
  /* Help from Hinkle */
  box-sizing: border-box;
   
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
